COGNITO_DOMAIN="https://eu-central-1lt9noespb.auth.eu-central-1.amazoncognito.com"
COGNITO_CLIENT_ID="29kbhfstuf7h59kkis1ppo4i0j"
REDIRECT_URI="http://localhost:3000"
BACKEND_URL="https://cc2025-api-b2btduguh5cmdxbn.northeurope-01.azurewebsites.net"

